body{
  margin: 0;
}

.header{
  background-color: #8c8c73;
  height: 100px;
  font-size: 40px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container{
  background-color: lightblue;
  height: 500px;
  display: flex;
}
.contact-container-left{
  background-color: lightgrey;
  width: 50%;
}
.contact-container-right{
  background-color: lightpink;
  width: 50%;
}