body{
  margin: 0;
  font-family: 'Akshar', sans-serif;
  transition: background-color 0.5s ease;
}
.dark-mode{
  background-color: #121212;
}
.dark-mode-text{
  color: rgb(178, 175, 175) !important;
  transition: color 0.5s ease;
}
.dark-mode-project-container{
  background-color: #181818 !important;
  transition: background-color 0.7s ease;
}
.dark-mode-project-title{
  color: rgb(208, 206, 206) !important;
  transition: color 0.5s ease;
}

.navbar{
  padding-top: 20px;
  padding-right: 20px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.navbar-button-container{
  margin-right: 30px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.navbar-button{
  background-color: rgba(0, 0, 0, 0);
  color: #666666;
  font-size: 22px;
  border-style: none;
  cursor: pointer;
}
.moon{
  height: 27px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  padding-top: 6px;
}

.first-container{
  margin-left: 10%;
  margin-right: 10%;
  height: 660px;
  padding-top: 80px;
}
.first-container-title{
  display: flex;
  align-items: center;
}
.first-container-symbol{
  font-size: 80px;
  color: #8c8c73;
  margin-right: 30px;
}
.first-container-name{
  display: inline-block;
}
/* text of name */
.text{
  font-size: 80px;
  color: #8c8c73;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
    typing 1s steps(12),
    cursor .4s step-end infinite alternate; 
}
/* blinking cursor */
@keyframes cursor {
  50% { border-color: transparent }
}
/* typing animation */
@keyframes typing {
  from { width: 0}
}
.first-container-description{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #666666;
}
.project-button{
  font-size: 25px;
  color: #8C8C73;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.second-container{
  height: 1500px;
  padding-top: 50px;
  justify-content: center;
  transition: background-color 0.75s ease;
}
.changeColor{
  background-color: #8c8c73 !important;
}
.second-container-title{
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}
.second-container-row{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project-container{
  height: 400px;
  display: flex;
  width: 900px;
}
.project-container-left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container-right{
  width: 50%;
  padding: 20px;
}
.project-images{
  height: 310px;
  /* transform to zoom in to the hovered photo */
  transition: border-radius 0.3s, transform 0.3s;
  overflow: hidden; /* keep the image contained within borders */
}
.project-images:hover{
  border-radius: 20px;
  transform: scale(1.1);
}
.project-container-title{
  padding-top: 30px;
  text-align: center;
  font-size: 32px;
  color: white;
}
.project-desc{
  padding-top: 5px;
  font-size: 20px;
  color: #D9d9d9;
  height: 200px;
  font-weight: 100;
}
.project-buttons-container{
  display: flex;
}
.project-button-demo, .project-button-github{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  margin-right: 20px;
  background: none;
  color: #E6E6E6;
  cursor: pointer;
}
.project-button-demo{
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  border-color: #E6E6E6;
  transition: border-color 0.3s, color 0.3s;
}
.project-button-demo:hover{
  border-color: #262626;
  color: #262626;
}
.project-button-github{
  border-style: none;
  transition: transform 0.2s ease;
}
.project-button-github:hover{
  transform: scale(1.1);
}
.image-github{
  height: 20px;
  margin-left: 10px;
}
@media (max-width: 975px) {
  .project-container {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (max-width: 883px) {
  .second-container{
    height: 2200px;
  }
  .project-container{
    height: 600px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
  }
  .project-container-left, .project-container-right{
    width: 90%;
    box-sizing: border-box;
  }
  .project-container-title{
    padding-top: 0px;
  }
  .project-desc{
    text-align: center;
    height: 150px;
  }
  .project-buttons-container{
    justify-content: center;
  }
}

.third-container{
  height: 670px;
}
.third-container-title{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: #666666;
  margin-bottom: 30px;
}
.school-outer{
  display: flex;
  justify-content: center;
}
.school-inner{
  height: 500px;
  width: 400px;
  border-style: solid;
  box-shadow: 15px 15px 5px lightgrey;
  background-color: rgb(248, 245, 245);
}
.school-title{
  margin-top: 50px;
  padding-left: 30px;
  font-size: 25px;
}
.school-name{
  padding-left: 45px;
  font-size: 22px;
  color: #8C8C73;
}
.chap-img{
  margin-top: 2px;
  height: 25px;
  margin-left: 8px;
}
.school-desc{
  font-size: 18px;
  padding-left: 60px;
  color: #666666;
}
.school-line{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-color: rgb(75, 75, 75);
  border-width: 1px;
}
.study{
  font-size: 22px;
  margin-left: 30px;
}
.study-desc{
  font-size: 18px;
  margin-left: 35px;
  color: #666666;
}

.animated-hr{
  border-style: solid;
  border-width: 3px;
  border-color: #8C8C73;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 50px;
}

.skills-title{
  color: #666666;
  font-size: 24px;
  padding-left: 10%;
}
.fourth-container{
  display: flex;
  justify-content: center;
}
.skills-container{
  width: 670px;
  margin-left: 20px;
  margin-right: 20px;
}
.skills-case{
  display: flex;
  height: auto;
  margin-top: 10px;
  justify-content: center;
}
.skills-single-container{
  width: 300px;
  flex-direction: column;
  font-size: 24px;
  color: #666666;
  display:inline-block;
  padding: 10px;
}
.skills-single-container-desc{
  padding-left: 30px;
  font-size: 24px;
  color: #666666;
}
.skills-single-container-end{
  font-size: 20px;
  color: #666666;
  margin-top: auto;
  padding: 10px 0;
}
@media (max-width: 820px) {
  .skills-title{
    padding-left: 3%;
  }
  .skills-container {
    width: 100%; 
    padding: 10px;
  }

  .skills-single-container {
    width: 45%; 
    font-size: 20px; 
    margin: 5px; 
  }

  .skills-single-container-desc,
  .skills-single-container-end {
    font-size: 20px; 
  }

  .skills-title {
    font-size: 20px; /
  }
}
@media (max-width: 480px) {
  .skills-single-container {
    width: 100%; 
    font-size: 18px; 
  }

  .skills-single-container-desc,
  .skills-single-container-end {
    font-size: 18px; 
  }

  .skills-title {
    font-size: 18px; 
  }
}


.footer{
  margin-top: 50px;
  background-color: #8C8C73;
  height: 150px;
  padding-top: 35px;
  padding-left: 20px;
}
.footer-button-container, .footer-main-button-container{
  display: flex;
}
.footer-rest-button, .footer-main-button{
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 23px;
  margin-bottom: 7px;
  border-style: none;
  cursor: pointer;
}
.arrow-img{
  height: 20px;
  transition: transform 0.1s ease;
}
.footer-rest-button:hover .arrow-img, .footer-main-button:hover .arrow-main-img{
  transform: scale(2); 
}
.footer-main-button{
  font-size: 40px;
}
.arrow-main-img{
  height: 38px;
  transition: transform 0.1s ease;
}

/* Responsive - phone */
@media (max-width: 500px){
  .navbar{
    justify-content: center;
  }
  .navar-button-container{
    margin-right: 2px;
  }

  .text{
    font-size: 55px;
  }
  .first-container-symbol{
    font-size: 55px;
    margin-right: 10px;
  }
  .project-desc{
    height: 210px;
  }
  .second-container{
    height: 2300px;
  }
  .project-container{
    margin-bottom: 90px;
  }
  
  .school-inner{
    width: 300px;
    height: 450px;
  }

  .footer{
    padding-left: 0px;
  }

}